:root {
  --primary-color: #5160FC;
  --secondary-color: #FFFFFF;
  --dark-text: #333333;
  --light-text: #FFFFFF;
  --light-stroke: #FFFFFF;
  --secondary-text: #86949F;
  --primary-stroke: #99AAB8;
  --secondary-stroke: #C0CFDB;
  --background-color: #F7F7FF;

  /* Grayscale - White */
    --white: #FFFFFF;
    --almost-white: #F6F6F6;
    --shaded-white: #DDDDDD;
    --dark-white: #CCCCCC;

    /* Grayscale - Gray */
    --silver: #BBBBBB;
    --pale-gray: #AAAAAA;
    --light-gray: #999999;
    --tinted-gray: #888888;
    --medium-gray: #777777;
    --shaded-gray: #666666;
    --dark-gray: #555555;

    /* Grayscale - Black */
    --pale-black: #444444;
    --light-black: #333333;
    --tinted-black: #222222;
    --almost-black: #111111;
    --black: #000000;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: auto !important;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.sidebar .list-menu {
    padding: 4px 4px;
    font-size: 12px;
    border-radius: 12px;
    color: var(--light-gray);
    font-weight: 500;
    margin-bottom: 12px;
}

.sidebar .list-menu svg {
    color: var(--light-gray);
}

.sidebar .list-menu.active {
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 900;
}

.sidebar .list-menu.active svg {
    color: var(--light-text);
}

.page-title {
    font-weight: 900;
}