@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@import "./custom.css";
@import "datatables.net-dt/css/dataTables.dataTables.css";
@import "datatables.net-responsive-dt/css/responsive.dataTables.css";

